<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<form [formGroup]="formulario">
  <div class="mb-12">
    <label for="campoTexto" class="form-label"
      >Campo de Texto</label>
    <input
      type="text"      
      class="form-control"
      formControlName="campoTexto"
      id="campoTexto"
      placeholder="campoTexto"
    />
  </div>
  <div class="mb-12">
    <label for="campoTexto" class="form-label"
      >Campo Numerico</label>
    <input
      type="number"      
      class="form-control"
      formControlName="campoTexto"
      id="campoTexto"
      placeholder="0"
    />
  </div>
</form>
