<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<form [formGroup]="formulario">
  <div class="mb-12">
    <label for="campoTexto" class="form-label">Campo de Texto</label>
    <input
      type="text"
      class="form-control"
      formControlName="campoTexto"
      id="campoTexto"
      placeholder="campoTexto"
    />
  </div>
  <div class="mb-12">
    <label for="campoTexto" class="form-label">Campo Numerico</label>
    <input
      type="number"
      class="form-control"
      formControlName="campoNumerico"
      id="campoTexto"
      placeholder="0"
    />
  </div>

  <label for="campoTexto" class="form-label">Selector</label>
  <select
    class="form-select"
    formControlName="datoSelector"
    aria-label="Default select example"
  >
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Comentario</label
    >
    <textarea
      class="form-control"
      formControlName="comentario"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea>
  </div>
  <button class="btn btn-primary" [disabled]="formulario.invalid">save</button>
</form>

{{ this.formulario.value | json }}
{{ this.formulario.invalid }}
